# LaTeX auxiliary files
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc

# PDF files
*.pdf
*.pptx

# Python Cache
__pycache__/

# Testing Directory
test/

# For other stuff I'm working on
working-area-ignore/

